<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="/">Главная</a></li>
        <li><a href="./registration">Регистрация</a></li>
        <% if (user) { %>
        <li><a href="./work">Рабочая страница</a></li>
        <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
        <li><a href="" onclick="$('<form method=POST action=/logout>').submit();return false">Выйти</a></form></li>
        <% } else { %>
        <li><a href="./logining">Войти</a></li>
        <% } %>
    </ul>
</nav>